/nbproject/private/
/MarketPlaceTourismEcologicEJB-war/nbproject/private/
/MarketPlaceTourismEcologicEJB-ejb/nbproject/private/
/MarketPlaceTourismEcologicEJB-ejb/build/
/MarketPlaceTourismEcologicEJB-ejb/dist/
/MarketPlaceTourismEcologicEJB-war/build/
/build/
/dist/
/MarketPlaceTourismEcologicEJB-war/dist/